body {
    font-family: "Open Sans", sans-serif;
    color:#CD5C5C
}

h1 {
    color: #CD5C5C;
    background-color: antiquewhite;
}

img {
    height: 100px;
    text-align: left;
    flex-basis: 100%;
}

figcaption span {
    font-size: .85em; 
}

p#product-description {
    margin: 20px 0 20px 0;
    text-align: justify;
}

div.review {
    padding: 10px;
    background-color: antiquewhite;
    margin: 20px 0 20px 0;
}